# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache
.ruff_cache/
htmlcov/
.coverage

# Django
*.log
media/
staticfiles/
db.sqlite3

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

test_email.py
check_signals.py